<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Madelenas Kitchen </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
.fa {
  padding: 7px;
  font-size: 20px;
  text-decoration: none;
  margin: 2px 2px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: black;
}
.fa-instagram {
  color: white;

}
.iconify { color: white;
background: black;
border-radius: 50%;
  padding: 7px;
  font-size: 20px;
  text-decoration: none;
  margin: 2px 2px;
  width: 30px;
  text-align: center;
  text-decoration: none;
   width:30px; height: 30px;
}
</style>

</head>
<body>

<nav class="navbar" style="background-color: rgb(255, 0, 0); place-content: center; background-clip: content-box;">
  <a class="navbar-brand" href="#">
<!--    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">-->

  </a>
<h1 style="color: black">Madalenas Kitchen</h1>
</nav>


</body>
</html>

{% block content %}


{% endblock %}
<div class="container">
<nav class="navbar navbar-light " style="place-content: center; background-color: rgb(255, 0, 0);">

<!--  <a class="navbar-brand" href="#">Menu</a>-->
<!--  <a class="navbar-brand" href="#">Contact Us:</a>-->

  <div class="container">
<h3 style="text-align-last: center;">CONTACT US</h3>

    <span class="border-left"><i class="fa fa-instagram"></i>madalenas_kitchen</span>
    <span class="border-left"><span class="iconify" data-icon="simple-icons:tiktok" data-inline="false"></span>madalenaskitchen</span>
    <span class="border-left"><span class="iconify" data-icon="ant-design:phone-filled" data-inline="false"></span>908-432-6909</span>
    <span class="border-left"><span class="iconify" data-icon="ic:baseline-alternate-email" data-inline="false"></span>madalenaskitchen@gmail.com</span>
  </div>
</nav>
</div>
<br>